<p id="notice"><%= notice %></p>

<h1><%=@animal%></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><img width=300 src= "<%=post.name %>" alt= "<%= post.title %>"/></td>
        <!-- <td><%= link_to 'Show', post %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
